<p><%= t(".hello", name: h(@user.name)) %></p>

<p><%= t(".intro", service_name: @service_name) %></p>

<p><%= t(".instruction") %></p>

<p id="otp_token" class="lead"><strong><%= @token %></strong></p>

<p><%= t(".outro") %></p>
